.navContainer{
    width: 100%;
    font-weight: 400;
    font-size: 18px;
}
.navWrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.navLeft{
    width: 50%;
}
.navLeft ul{
    display: flex;
    gap: 40px;
    margin: 33px 100px;
}
.navRight{
    width: 50%;
}
.navRight ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 33px auto;
}

/* 🔹 Burger icon */
.burger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
}

/* 🔹 Responsive */
@media (max-width: 768px){
    .navLeft ul,
    .navRight ul{
        display: none; /* desktop style saqlanadi */
    }

    .active{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin: 0;
    }

    .burger{
        display: block;
    }
}